@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

h1, h2, h3, h4, h5, p, a, .btn, label{
    font-family: "Dancing Script";
}

a{
    text-decoration: none;
    color: black;
}

.navbar-brand {
    font-size: 2.2rem;
}

.nav-link{
    font-size: 1.3rem;
}

.btn, label{
    font-size: 1.4rem;
}

p, a{
    font-size: 1.1rem;
}