@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

h1, h2, h3, h4, h5, p, a{
    font-family: "Dancing Script";
}

a{
    text-decoration: none;
    color: black;
}

.navbar-brand {
    font-size: 250%;
}

.nav-link{
    font-size: 150%;
}